empire-master/workflows/approval-notification.json
{
  "name": "Approval Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log?select=*&status=eq.pending&order=created_at.desc&limit=50",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-pending",
      "name": "Get Pending Approvals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-length",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-pending",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const updates = $input.first().json || [];\n\nconst high = updates.filter(u => u.priority_score >= 80);\nconst medium = updates.filter(u => u.priority_score >= 50 && u.priority_score < 80);\nconst low = updates.filter(u => u.priority_score < 50);\n\n// Group by site\nconst bySite = {};\nfor (const update of updates) {\n  const site = update.site_id || 'unknown';\n  if (!bySite[site]) bySite[site] = 0;\n  bySite[site]++;\n}\n\nreturn {\n  total: updates.length,\n  high_priority: high.length,\n  medium_priority: medium.length,\n  low_priority: low.length,\n  by_site: bySite,\n  oldest_days: updates.length > 0 ?\n    Math.floor((Date.now() - new Date(updates[updates.length-1].created_at).getTime()) / 86400000) : 0\n};"
      },
      "id": "categorize",
      "name": "Categorize by Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-high-priority",
              "leftValue": "={{ $json.high_priority }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-high",
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://empire-dashboard:8000/api/alerts",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"severity\": \"critical\",\n  \"source\": \"n8n-approval-notification\",\n  \"category\": \"pending_approval\",\n  \"message\": \"{{ $json.high_priority }} high-priority updates need approval. Total pending: {{ $json.total }}. Oldest: {{ $json.oldest_days }} days.\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "alert-urgent",
      "name": "Urgent Dashboard Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "http://empire-dashboard:8000/api/alerts",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"severity\": \"info\",\n  \"source\": \"n8n-approval-notification\",\n  \"category\": \"approval_digest\",\n  \"message\": \"Approval digest: {{ $json.total }} pending ({{ $json.high_priority }} high, {{ $json.medium_priority }} medium, {{ $json.low_priority }} low)\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-digest",
      "name": "Send Approval Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {},
      "id": "no-pending",
      "name": "No Pending Approvals",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Daily 9 AM": {
      "main": [
        [
          {
            "node": "Get Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Approvals": {
      "main": [
        [
          {
            "node": "Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Pending?": {
      "main": [
        [
          {
            "node": "Categorize by Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize by Priority": {
      "main": [
        [
          {
            "node": "High Priority?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority?": {
      "main": [
        [
          {
            "node": "Urgent Dashboard Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Approval Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Approval Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Approvals"
    },
    {
      "name": "Notifications"
    }
  ],
  "versionId": "2"
}